{% extends 'Charging Station/charging index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/edit_charge_post/{{ data.id }}" method="post">
<table width="200" border="1" class="table table-bordered">
  <tr style="color:#D81324">
    <td>hour</td>
    <td>1hrs</td>

  </tr>
  <tr>
    <td>Fare</td>
    <td><label for="textfield2"></label>
      <input type="number" name="textfield2" id="textfield2" value="{{ data.fare }}" required="" max="350"/></td>
  </tr>
  <tr>
    <td height="46" colspan="2" align="center"><input type="submit" name="button" id="button" value="Edit" class="btn btn-primary"/></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}