{% extends 'Charging Station/charging index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="468" border="1"class="table table-bordered" >
  <tr style="color:#D81324">
    <th width="62" scope="row">SL NO</th>
    <td width="84" align="center"><strong>Start Time</strong></td>
    <td width="89" align="center"> <strong>End Time</strong></td>
    <td width="92" align="center"> <strong>Date</strong></td>
    <td width="107" align="center"><strong>Total</strong></td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.start_time }}</td>
    <td>{{ i.end_time }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.total_slot }}</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}