<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="325" border="1">
  <tr>
    <td width="315" height="47" ><div align="center"><a href="/view_charging_station">view verify Ev</a></div></td>
  </tr>
  <tr>
    <td height="57"><div align="center"><a href="/view_verified_charging_station">view verified Ev</a></div></td>
  </tr>
  <tr>
    <td height="73"><div align="center"><a href="/view_rejected_charging_station">view rejected Ev</a></div></td>
  </tr>
  
  <tr>
    <td height="73"><div align="center"><a href="/view_compalaint">view complaint</a></div></td>
  </tr>
  <tr>
    <td height="79"><div align="center"><a href="/view_user">view user</a></div></td>
  </tr>
  <tr>
    <td height="62"><div align="center"><a href="/view_rating_admin">view rating</a></div></td>
  </tr>
</table>

</body>
</html>
