{% extends 'admin/admin index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="572" border="4" cellspacing="1" cellpadding="3" class="table table-bordered">
  <tr style="color:#D81324">
    <th width="56" scope="col">SLNO</th>
    <th width="86" scope="col">Complaint</th>
    <th width="87" scope="col">Date</th>
          <th width="89" scope="col">UserInfo</th>

    <th width="101" scope="col">Reply</th>
    <th width="90" scope="col">ReplyDate</th>
  </tr>
    {% for i in data %}
  <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.complaint }}</td>
      <td>{{ i.complaint_date }}</td>
      <td>{{ i.USER.name}}</td>

      {% if i.reply == 'pending' %}
    <td colspan="2"><div align="center"><a href="/send_reply/{{ i.id }}"class="btn btn-primary">Send Reply</a></div></td>
      {% else %}
      <td>{{ i.reply }}</td>
      <td>{{ i.reply_date }}</td>
{% endif %}
  </tr>
       {% endfor %}
</table>

</body>
</html>
{% endblock %}