{% extends 'admin/admin index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="560" border="4" cellspacing="1" cellpadding="3" class="table table-bordered">
  <tr style="color:#D81324">
    <th width="67" scope="col">SLNO</th>
    <th width="74" scope="col">Name</th>
    <th width="84" scope="col">Email</th>
    <th width="92" scope="col">Contact</th>
    <th width="88" scope="col">Place</th>
    <th width="92" scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.contact }}&nbsp;</td>
    <td>{{ i.place }}&nbsp;</td>
{#      <td>{{ i.latitude }}</td>#}
{#      <td>{{ i.longitude }}</td>#}
    <td><a href="https://www.google.com/maps/?q={{ i.latitude }}{{ i.longitude }}"class="btn btn-primary"">Locate</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}