{% extends 'admin/admin index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="502" border="4" cellspacing="1" cellpadding="3" class="table table-bordered">
  <tr style="color:#D81324">
    <th width="86" scope="col">SLNO</th>
    <th width="121" scope="col">Rating</th>
    <th width="117" scope="col">Date</th>
    <th width="133" scope="col">UserInfo</th>
    <th width="133" scope="col">Email</th>
    <th width="133" scope="col">Contact</th>
    <th width="133" scope="col">Charging Station</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>
        {% if i.rate == "1" %}
        ★
      {% elif i.rate == "2" %}
        ★★
      {% elif i.rate == "3" %}
        ★★★
      {% elif i.rate == "4" %}
        ★★★★
      {% elif i.rate == "5" %}
        ★★★★★
      {% endif %}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>&nbsp;{{ i.USER.name }}</td>
    <td>&nbsp;{{ i.USER.email }}</td>
    <td>&nbsp;{{ i.USER.contact }}</td>
    <td>&nbsp;{{ i.CHARGING_STATION.name }}</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}