<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Basic Login Form A Flat Responsive Widget Template  :: w3layouts</title>
<link href="/static/login/css/font-awesome.css" rel="stylesheet"><!-- Font-awesome-CSS -->
<link href="/static/login/css/style.css" rel='stylesheet' type='text/css'/><!-- style.css -->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Basic Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="/static/login/js/jquery.min.js"></script>
		<script>$(document).ready(function(c) {
		$('.alert-close').on('click', function(c){
			$('.main-agile').fadeOut('slow', function(c){
				$('.main-agile').remove();
			});
		});
	});
	</script>
</head>
<body>
	<h1>Login Form</h1>
	<div class="main-agile">
		<div class="alert-close"> </div>
		<div class="content-wthree">
		<div class="circle-w3layouts"></div>
			<h2>Forgot password</h2>
			<form action="/forgot_password_post" method="post">
								<div class="inputs-w3ls">
									<i class="fa fa-envelope" aria-hidden="true"></i>
									<input type="text" name="textfield" placeholder="Email Address" required=""/>
								</div>
									<input type="submit" value="reset">
									<div class="wthree-text">

									</div>
                		</form>
		</div>
	</div>
	<div class="footer-w3l">
		<p class="agileinfo"> &copy; 2017 Basic Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
</body>
</html>